In [22]:
import pandas as pd
from random import sample
import math
import numpy as np

In [23]:
d = {'sodium':[1,2,3,4,5,5,2],'water':[1,1,1,4,4,5,2]}
df = pd.DataFrame(data=d)
df

   sodium  water
0       1      1
1       2      1
2       3      1
3       4      4
4       5      4
5       5      5
6       2      2

In [13]:
#df_elements = df.sample(n=2)

In [14]:
#dfele=df_elements.reset_index(drop='true')
#dfele

In [15]:
#dfz=euclid(dfele,df)

In [19]:

def euclid(dfele,df):
    dist=[[],[]]
    for j in range(0,2):
        for i in range(0,7):
            x1=df['water'][i]
            y1=df['sodium'][i]
            x2=dfele['water'][j]
            y2=dfele['sodium'][j]
            dist[j].append(math.sqrt((x2-x1)**2+(y2-y1)**2))
        #print(dist[j][i])
    dfz=pd.DataFrame({'X':dist[0],'Y':dist[1]})
    dfz['cluster'] = np.where(dfz['X']<=dfz['Y'], 'c1', 'c2')
    
    
    
    return dfz

In [20]:
def centroid(dfz):
    dc1=dfz.loc[(dfz['cluster'] == 'c1')]
    dc2=dfz.loc[(dfz['cluster'] == 'c2')]
    z1=dc1.mean().tolist()
    z2=dc2.mean().tolist()
    data=[{'sodium':z1[0], 'water':z1[1]},{'sodium':z2[0],'water':z2[1]}]
    newcent=pd.DataFrame(data)
    return newcent

In [21]:
label=[]
labp=[]
labn=[]
while(True):
    #dfele=centroid()
    #ds=euclid(dfele,df)
    
    #label=ds['cluster'].tolist()
    if(labp == []):
        df_elements = df.sample(n=2)
        dfele=df_elements.reset_index(drop='true')
        print(dfele)
        ds=euclid(dfele,df)
        label=ds['cluster'].tolist()
        labp=label
        labn=label
    else:
        dfele = centroid(ds)
        ds=euclid(dfele,df)
        label=ds['cluster'].tolist()
        labp=labn
        labn=label
        if(labp==labn):
            df['cluster']=labn
            print(df)
            break
        label=[]

   sodium  water
0       5      5
1       3      1
   sodium  water cluster
0       1      1      c2
1       2      1      c2
2       3      1      c2
3       4      4      c1
4       5      4      c1
5       5      5      c1
6       2      2      c2